body{

    font-family:helvetica;
    color:Gold;
    background-color:MidnightBlue;
}

#out_div1, #out_div2, #out_div3, #out_div4, #out_div5, #out_div6{

    color:white;
}

#shortest_path, #topological_sort, #transitive_closure, #bellman_ford{

    border:2px solid white;
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
}
